.login-page-container {
text-align: center;
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 60px;
  .login-title {
    margin-bottom: 40px;
    color:  #4d4d4d;
    font-size: 20px;
    font-weight: 400;
  }
  input {
    width: 100%;
    height: 46px;
    padding: 0px 32px;
    margin: 6px 0px;
    border-radius: 6px;
    color:  #a9a9a9;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #d3d3d3;
    &:focus {
      outline: none;
      border-color: #76A8FB;
    }
  }
  .incorrect-input {
    border-color: #f22a31;
    color: #f22a31 !important;
  }
  button {
    width: 279px;
    height: 52px;
    margin-top: 22px;
    margin-bottom: 30px;
    // should be delete after merged
    border-radius: 6px;
    border-width: 0px; 
    background-color:  #3191d8;
    font-family: OpenSans, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    //
    text-transform: uppercase;
  }
}
.forgot-password {
  display: inline-block;
  color:  #3191d8;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.error-message {
  margin-top: 28px;
  color: #f22a31;
  font-size: 18px;
  font-weight: 600;
}
}