/node_modules
public
bower_components
/uploads
/dev/uploads
.idea/uploads
.idea/
.vscode/
mobile-app/node_modules
mobile-app/bower_components/
mobile-app/www/lib/
mobile-app/plugins/
mobile-app/platforms/
mobile-app/resources/
mobile-app/xdk/
mobile-app/www/css/

/mobile-app/www/js/modules.js
/mobile-app/www/css/ionic.app.css
