.towing-matrix {
  .title {
    display: inline-block;
    vertical-align: top;
    width: 325px;
    padding: 0 15px;
  }

  .towing-matrix-form {
    color: #4d4d4d;
    font-weight: 400;
    font-size: 20px;
  }

  .form-container {
    width: 680px;
    display: inline-block;
    padding: 0 15px;
  }

  .form-control {
    margin-bottom: 12px;
    height: 44px;
    font-size: 18px;
  }

  .date {
      display: inline-block;
      margin-left: 10px;
      width: 220px;
  }

  label {
    font-weight: 400;

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: 5px;
      width: 24px;
      height: 24px;
      background-color: #ffffff;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }

  .place {
    margin-bottom: 12px;

    .city {
      margin-right: 150px;
    }
  }

  .roam-container {
    margin-bottom: 12px;

    .roam-title {
      margin-right: 20px;
    }

    .roam-text {
      margin-right: 150px;
    }
  }

  .day {
    margin-bottom: 12px;

    span {
      margin-right: 10px;
    }
  }

  .reasons-container {
    span {
      margin-right: 10px;
    }
  }

  .notes {
    margin-top: 30px;
    min-height: 144px;
    resize:none;
  }

  .button-container {
    width: 100%;
    text-align: center
  }

  .confirmation {
    text-align: center;
  }
}