.towed-car-page
  .container
    header-directive(class-name="'adaptive'")
    .row.info
      .col-md-12
        h1 Got towed?
        h2 Rates & Policies & Directions
    .row
      .col-md-12
        h2.title Been Towed? Do not worry! Here we are:
    .row.towed-car-content
      .col-md-7.map
      .col-md-5.taxis-container
        .uber
          img(src="files/uber.png", alt="uber")
          .taxi-contact
            h4.title Use Uber
            p.sub-title to get to use
        .taxis
          img(src="files/taxi.png", alt="taxi")
          .taxi-contact
            h4.title Or call a taxi:
            p
              span.phone +38093 609 14 61
              span.name - Fast Taxi
            p
              span.phone +38093 609 14 61
              span.name - Fast Taxi
      .col-md-12.discription
