.blocking-part.main-indent-left.main-indent-right.big-indent-bottom.main-border-bottom
  .block
    .row.main-height.main-indent-bottom
      .col-15.float-left.font-regular
        span(ng-bind="'Welcome, ' + vm.managerName +'!'")
      .col-5
        .btn.btn-regular.btn-blue.float-right
          .btn_text Report Exec
    .row.main-height.main-indent-bottom.font-small
      .col-4.ellipsis
        span Block towing from
      .col-11.date-range.ellipsis
        input.float-left(type="date" ng-model="vm.blockingData.dateFrom")
        .connector.float-left to
        input.float-left(type="date" ng-model="vm.blockingData.dateTo")
      .col-5
        .btn.btn-regular.btn-blue.float-right
          .btn_text Block
    .row.main-height.main-indent-bottom.font-small
      .reason-block.col-16.float-left
        span Reason
        input(ng-model="vm.blockingData.reason")