.blocking-part.main-border-bottom
  .big-indent-bottom.big-indent-top
    .row
      .long-block.font-regular
        span(ng-bind="'Welcome, ' + vm.managerName +'!'")
        span.contractsTime(ng-bind="'Your contract will be expired in '+ vm.contractsTime +' month!'"
          ng-class="vm.timeEndClass")
      .right-block
        button.btn.btn-primary.btn-block(type="button") Report Exec
    .row.form-group.font-small
      .left-block
        span Block towing from
      .center-block.date-range
        input.form-control(type="date" ng-model="vm.blockingData.dateFrom")
        span.connector to
        input.form-control(type="date" ng-model="vm.blockingData.dateTo")
      .right-block
        button.btn.btn-primary.btn-block(type="button") Block
    .row.font-small
      .long-block.reason-block
        span Reason
        input(ng-model="vm.blockingData.reason")
      .col-sm-3