.blocking-part.main-border-bottom
  .big-indent-bottom.big-indent-top
    .row
      .col-sm-9.font-regular
        span(ng-bind="'Welcome, ' + vm.managerName +'!'")
      .col-sm-3
        button.btn.btn-primary.btn-block(type="button") Report Exec
    .row.form-group.font-small
      .col-sm-3
        span Block towing from
      .col-sm-6.date-range
        input.form-control(type="date" ng-model="vm.blockingData.dateFrom")
        span.connector to
        input.form-control(type="date" ng-model="vm.blockingData.dateTo")
      .col-sm-3
        button.btn.btn-primary.btn-block(type="button") Block
    .row.font-small
      .col-sm-9.reason-block
        span Reason
        input(ng-model="vm.blockingData.reason")
      .col-sm-3