.decal-part.main-border-bottom
  .big-indent-bottom.big-indent-top
    .row
      .col-sm-3.font-small
        .bold-title Decals
      .col-sm-6.font-small
        .bold-title You can add new Decal #
        a.decal-list-link(ng-click="vm.showDecalPopup()") Or see the full list of Decals >>>
      .col-sm-3
        a.btn.btn-primary.btn-block.add-decal(href="#/managers-page/add_decal")
          img(src="files/add-property.png")
          span Add Decal