.parking-rules.main-indent-left.main-indent-right.main-border-bottom
  .block.big-indent-bottom.big-indent-top
    .row.rule.main-height.min-indent-bottom
      .col-4.font-small
        .bold-title Parking Rules
      .col-11.font-small.ellipsis
        span 1. You cannot leave a car on the grass
      .col-5
        .btn.btn-short.btn-blue.float-right
          .btn_text Edit
        .btn.btn-round.btn-blue.float-right
          .btn_text X
    .row.rule.main-height.main-indent-bottom
      .col-4.font-small
        span
      .col-11.font-small.ellipsis
        span 2. You cannot leave a car near the entrance
      .col-5
        .btn.btn-short.btn-blue.float-right
          .btn_text Edit
        .btn.btn-round.btn-blue.float-right
          .btn_text X
    .row.new-rule-block.main-height.main-indent-bottom
      .col-4
      .col-11
        input(ng-model="vm.newRule.name" placeholder="Write your rule")
      .col-5
        .btn.btn-regular.btn-blue.float-right
          .btn_text Add Rule