.photos-part.main-border-bottom
  .big-indent-bottom.big-indent-top
    .row
      .left-block.font-small
        .bold-title Photos
      .center-block.font-small
        a.photo-page-link(href="#/photos/{{vm.property._id}}") Go to photos folder &#62;&#62;&#62;