.photos-part.main-border-bottom(ng-if="vm.photos.length > 0")
  .big-indent-bottom.big-indent-top
    .row
      .col-sm-12
        .photo(ng-repeat="photo in vm.photos")
          img(ng-src="{{photo}}")