.parking-problem-page {
  .container {
    background-color: #ffffff;
    min-height: 100%;
  }

  .info {
    height: 70px;
    background: #f7f7f7;
    color: #4f4f4f;
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
      font-size: 22px;
      font-weight: 600;
      margin: 10px 0 0 0;
    }
  }
}