.admin-properties
  .container
    .content
      header-directive
      admin-menu-directive
      div.propertyEditor
        div.propertyValue
          h2 Add new property
          input(type="text" placeholder="Property name" name="propertyName")
          input(type="text" placeholder="Login" name="login")
          button.create Create
        div.propertyLogo
          h2 Upload logo
          div
            img.logo(src="")
          div
            button Upload logo