.admin-properties {
  background-color: #f7f7f7;
  min-height: 100%;

  .content {
    background-color: #fff;
  }
  .wrap-admin-property-search {
    max-width: 592px;
    width: 100%;
    margin-bottom: 30px;
    input {
      height: 40px;
      width: calc(100% - 144px);
      padding: 0px 6px;
      border: 1px solid #d4d4d4;
      outline: none;
      color: #a9a9a9;
      border-right: none;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    button {
      width: 144px;
      height: 40px;
      background-color: #3191d8;
      outline: none;
      border: none;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      color:  #ffffff;
      font-size: 15px;
      border: 1px solid transparent;
    }
  }
}
.content-padding {
  padding: 48px 98px;
}
.pa-item {
  width: 188px;
  margin: 12px 0px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  .pa-img-wrap {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #e3ded2;
    overflow: hidden;
  }
  .pa-img-bubbel {
    position: absolute;
    top: 0;
    right: 0;
  } 
  .pa-blocked {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 150px;
    background-color: rgba(244, 87, 91, 0.8);
    color: #ffffff;
    font-size: 26px;
  }
  .pa-item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:  #4d4d4d;
    font-size: 18px;
  }
}