.admin-properties
  .container
    .content
      header-directive(class-name="'adaptive'")
      admin-menu-directive
      div
        a.addProperty(href="#/admin/properties/add")
          img(src="files/add-property.png")
          span Add property
      div(ng-init="vm.getAdminProperties()", class="content-padding")
        form(class="wrap-admin-property-search", ng-submit="vm.searchProperty()")
          input(type="text", placeholder="Search property", ng-model="vm.searchPropertyValue")
          button(type="submit") Search
        div(class="wrap-admin-properties")
          div(ng-repeat="item in vm.adminProperties | filter: vm.searchObj", class="pa-item")
            div(class="pa-img-wrap")
              // span(class="pa-img-bubbel") 45
              div(class="pa-blocked" ng-if="item.blocked") Blocked
              img(ng-src="{{item.logo}}", alt="")

            h5(class="pa-item-title") {{item.name}}
