.admin-page.admin-properties
  .container
    .content
      header-directive
      admin-menu-directive
      .content-padding(ng-init="vm.getAdminProperties()")
        a.addProperty(href="#/admin/properties/add")
          img(src="files/add-property.png")
          span Add property
        form.wrap-admin-property-search(ng-submit="vm.searchProperty()")
          input(type="text", placeholder="Search property", ng-model="vm.searchPropertyValue")
          button.btn.btn-submit.search Search
        .wrap-admin-properties
          .pa-item(ng-repeat="item in vm.adminProperties | filter: vm.searchObj"
            ng-hide="item.deleted")
            .pa-img-wrap
              // span(class="pa-img-bubbel") 45
              .pa-blocked(ng-if="item.blocked") Blocked
              .logo(ng-style="{backgroundImage: 'url('+ item.logo + ')' }")
            button.btn.btn-primary.btn-circle.delete(
              type="button"
              ng-click="vm.removeProperty(item._id)")
              i.glyphicon.glyphicon-remove
            h5.pa-item-title {{item.name}}