.admin-properties
  .container
    .content
      header-directive
      admin-menu-directive
      div
        a.addProperty(href="#/admin/properties/add")
          img(src="files/add-property.png")
          span Add property