.admin-page.admin-properties
  .container
    .content
      header-directive
      admin-menu-directive
      .content-padding(ng-init="vm.getAdminProperties()")
        a.addProperty(ng-click="redirect('/admin/properties/add')")
          img(src="files/add-property.png")
          span Add property
        form.wrap-admin-property-search(ng-submit="vm.searchProperty()")
          input(type="text", placeholder="Search property", ng-model="vm.searchPropertyValue")
          button.btn.btn-submit.search Search
        .wrap-admin-properties
          .pa-item
            a.pa-img-wrap.emergency-link(ng-click="redirect('/photos/emergency_towing')")
              .logo(ng-style="{backgroundImage: 'url('+ item.logo + ')' }")
            h5.pa-item-title Emergency towing
          .pa-item(ng-repeat="item in vm.adminProperties | filter: vm.searchObj"
            ng-hide="item.deleted")
            a.pa-img-wrap(ng-click="redirect('/admin/properties/edit/' + item._id)")
              // span(class="pa-img-bubbel") 45
              .pa-blocked(ng-if="item.blocked") Blocked
              .logo(ng-style="{backgroundImage: 'url('+ item.logo + ')' }")
            h5.pa-item-title {{item.name}}