div.container
  div.property-page
    div.row.name
      div.col-md-9
        div.title
          p Hugo Boss
          p Parking rules & Regulation
      div.col-md-3 
        img.logo(src="hugo-boss-logo.png")
    div.row.property
      div.col-md-12
        p.title 1. GENERAL REGULATIONS 
        p.description 
          | 1.0 The University of Kansas, through the Board of Regents and its administrative officers, is authorized by state law to 
          |establish parking rules and regulations and to provide penalties for infractions of these regulations. Regulations are established by the 
          |Parking Commission with the approval of the Provost.
          |Any motorized vehicle operated on the property of the University of Kansas is subject to all regulations governing parking at the 
          |institution.
          |Parking is restricted year-round. All campus parking shall be restricted to vehicles with permits/e-permits which authorize parking in that 
          |area or where the meter fee or garage toll
