div.property-page..admin-page
  div.container
    header-directive(class-name="'adaptive'")
    div.row.name
      div.col-md-9
        div.title
          p {{ vm.property.name }}
          p Parking rules & Regulation
      div.col-md-3
        img.logo(ng-src="{{ vm.property.logo }}")
    div.row.property(ng-repeat="rule in vm.rules")
      div.col-md-12
        p.title {{ rule.text }}
        p.description