.admin-page.photos-page
  .container
    .content
      header-directive
      .content-padding
        .photo(ng-repeat="photo in vm.photos")
          img(ng-src="{{photo.url}}")
          p {{photo.updated}}
          p Driver {{photo.ownerNumber}}
        .photo(ng-repeat="photo in vm.emergencyTowing")
          img(ng-src="{{photo.photo}}")
          p Property: {{photo.propertyName}}
        .message(ng-if="!vm.photos.length && !vm.emergencyTowing.length")
          | No photos