header
  div.navigation
    a.login-button(href="#/login" titke="Login") Login
  a(href="#/")
    img.logo(src="files/logo-280.png")
  div.contacts
    div.phone
      img.icon(src="files/phone-icon.png")
      span.text 844-CAR-TOWED
    div.location
      img.icon(src="files/location-icon.png")
      span.text 907 SW 3rd St. Gainesville, FL