header {
  padding: 5px 15px;
  margin: 0 auto;
  overflow: hidden;

  .logo {
    margin-right: 30px;
    vertical-align: top;
    width: 93px;
  }

  .contacts {
    color: #f22930;
    font-size: 13px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 15px;
    white-space: nowrap;

    .icon {
      width: 15px;
      margin-right: 5px;
    }

    .text {
      margin-left: 15px;
      vertical-align: middle;
    }
  }

  .phone {
    margin: 0 20px 10px 0;
  }

  .navigation {
    float: right;
    color: #5b90d5;
    font-size: 13px;
    font-weight: 600;
    margin-top: 15px;

     a {
      text-decoration: none;
      margin-left: 20px;
    }
  }

  @media (min-width: 970px) {
    .logo {
      float: left;
    }

    .contacts {
      margin-top: 10px;
    }

    .phone, .location {
      .icon {
        display: none;
      }
    }

    .location {
      float: right;
    }
  }
}