.center-block.blocking-list
  input.reason-list(ng-model="blocking.reason")
  input.blocking-list-input(
    type="date"
    ng-model="vm.dateFrom")
  input.blocking-list-input(
    type="date"
    ng-model="vm.dateTo")