.managers-page
  .container
    .content
      header-directive(class-name="'adaptive'")
      include partial-view/blocking-part.jade
      include partial-view/photos-part.jade
      include partial-view/parking-rules.jade