.managers-page
  .container
    .content
      header-directive
      p.message(
        ng-if="vm.message"
        ng-bind="vm.message")
      span(ng-if="vm.property && !vm.message")
        include partial-view/decal-part.jade
        include partial-view/blocking-part.jade
        include partial-view/photos-part.jade
        include partial-view/parking-rules.jade
        include partial-view/towing-matrix.jade
  .decal-popup(ng-show="vm.decalPopupEditmod"
    ng-click="vm.hideDecalPopup()")
    .decal-popup-container(ng-click="vm.stopPropagation($event)")
      .popup-header
        h2.title List of Decals
        a.close-popup(ng-click="vm.hideDecalPopup()")
          i.glyphicon.glyphicon-remove
      .decal-popup-content
        .decal-content-row(ng-repeat="decal in vm.decals")
          .number(ng-bind="decal.serialNumber")
          .name(ng-bind="decal.fullName")
          .buttons-container
            a.delete(ng-click="vm.removeDecal(decal._id)") Delete
            a.edit(href="#/managers-page/add_decal/{{decal._id}}") Edit