.managers-page {
  background: #f7f7f7;
  min-height: 100%;
  position: relative;

  .container {
    min-width: 1366px;
    padding: 0;
  }

  .row + .row {
    margin-top: 10px;
  }

  .content {
    background: #FFFFFF;
    min-height: 100%;
    padding: 0 15px;
  }

  .left-block,
  .right-block {
    width: 340px;
    display: inline-block;
    padding: 0 15px;
  }

  .center-block {
    width: 680px;
    display: inline-block;
    padding: 0 15px;
  }

  .decal-popup {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;

    .decal-popup-container {
      width: 900px;
      height: 700px;
      background-color: #fff;
      margin: 300px auto 0 auto;
      box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.75);
      border-radius: 5px;

      .popup-header {
        display: inline-block;
        width: 100%;

        .title {
          display: inline-block;
          text-align: center;
          padding-top: 20px;
          font-size: 32px;
          font-weight: 400;
          width: 80%;
          padding-left: 200px;
        }

        .close-popup {
          display: inline-block;
          width: 20%;
          text-align: right;
          font-size: 30px;
          font-weight: 600;
          padding-right: 20px;
          cursor: pointer;
          color: #4d4d4d;
        }

        .close-popup:hover {
          text-decoration: none;
          opacity: 0.8;
        }
      }

      .decal-popup-content {
        max-height: 550px;
        overflow-y: auto;
        margin-top: 30px;

        .decal-content-row {
          font-size: 18px;
          padding: 0 50px;
          width: 100%;
          text-align: left;
          margin-top: 10px;

          .number {
            display: inline-block;
            font-weight: 600;
            width: 30%;
          }

          .name {
            display: inline-block;
            width: 40%;
          }

          .buttons-container {
            display: inline-block;
            width: 30%;
            text-align: right;
            font-weight: 600;

            .delete {
              margin-right: 20px;
              color: #f22a31;
              cursor: pointer;
            }

            .edit {
              color: #49b71d;
              cursor: pointer;
            }
          }
        }
      }


    }
  }
}

.blocking-part {
  .date-range {
    display: flex;

    input {
      border-color: #d4d4d4;
      border-radius: 5px;
      font-size: 16px;
      flex-grow: 1;
    }

    .connector {
      flex-basis: 10%;
      flex-grow: 1;
      text-align: center;
    }
  }

  .reason-block {
    display: flex;

    input {
      border: none;
      border-bottom: 1px solid #d4d4d4;
      box-sizing: border-box;
      font-size: 20px;
      padding-left: 10px;
      flex-grow: 1;
    }
  }
}

.parking-rules {
  .edit-rule{
    border-radius: 5px;
    border-color: #d4d4d4;
    box-sizing: border-box;
    font-size: 18px;
    flex-grow: 1;
    padding-left: 20px;
  }

  .btn-block.btn-block {
    margin-top: 0;
  }

  .rule {
    .rule-controls {
      .btn-circle {
        flex-shrink: 0;
      }
      
      .delete {
        height: 35px;
        display: inline-block;
      }

      .edit {
        width: 260px;
        display: inline-block;
      }
    }
  }

  .message {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
}

.photos-part {
  .photo img {
    width: 200px;
  }
}

.decal-part {
  .bold-title {
    margin-bottom: 20px;
  }

  .decal-list-link {
    cursor: pointer;
  }

  .add-decal {
    span {
      vertical-align: bottom;
      margin-left: 10px;
    }
  }
}