.managers-page {
  background: #f7f7f7;
  min-height: 100%;

  .row + .row {
    margin-top: 10px;
  }

  .container {
    background: #FFFFFF;
    min-height: 100%;
  }
}

.blocking-part {
  .date-range {
    display: flex;

    input {
      border-color: #d4d4d4;
      border-radius: 5px;
      font-size: 16px;
      flex-grow: 1;
    }

    .connector {
      flex-basis: 10%;
      flex-grow: 1;
      text-align: center;
    }
  }

  .reason-block {
    display: flex;

    input {
      border: none;
      border-bottom: 1px solid #d4d4d4;
      box-sizing: border-box;
      font-size: 20px;
      padding-left: 10px;
      flex-grow: 1;
    }
  }
}

.parking-rules {

  .edit-rule{
    border-radius: 5px;
    border-color: #d4d4d4;
    box-sizing: border-box;
    font-size: 18px;
    flex-grow: 1;
    padding-left: 20px;
  }

  .btn-block.btn-block {
    margin-top: 0;
  }

  .rule {
    .rule-controls {
      display: flex;

      .btn-circle {
        flex-shrink: 0;
      }
    }
  }
}