.managers-page {
  position: relative;
  min-height: 100%;
  background: #f7f7f7;

  .container {
    min-width: 1366px;
  }

  .row + .row {
    margin-top: 10px;
  }

  .content {
    padding: 0 15px;
    min-height: 100%;
    background: #FFFFFF;
  }

  .left-block,
  .right-block {
    width: 325px;
    display: inline-block;
    padding: 0 15px;
    vertical-align: top;
  }

  .center-block {
    width: 680px;
    display: inline-block;
    padding: 0 15px;
  }

  .long-block {
    width: 1005px;
    display: inline-block;
    padding: 0 15px;
  }

  .decal-popup {
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    .decal-popup-container {
      margin: 300px auto 0 auto;
      width: 900px;
      height: 700px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.75);

      .popup-header {
        display: inline-block;
        width: 100%;

        .title {
          display: inline-block;
          padding-top: 20px;
          padding-left: 200px;
          width: 80%;
          text-align: center;
          font-weight: 400;
          font-size: 32px;
        }

        .close-popup {
          display: inline-block;
          padding-right: 20px;
          width: 20%;
          color: #4d4d4d;
          text-align: right;
          font-weight: 600;
          font-size: 30px;
          cursor: pointer;
        }

        .close-popup:hover {
          text-decoration: none;
          opacity: 0.8;
        }
      }

      .decal-popup-content {
        overflow-y: auto;
        margin-top: 30px;
        max-height: 550px;

        .decal-content-row {
          margin-top: 10px;
          padding: 0 50px;
          width: 100%;
          text-align: left;
          font-size: 18px;

          .number {
            display: inline-block;
            width: 30%;
            font-weight: 600;
          }

          .name {
            display: inline-block;
            width: 40%;
          }

          .buttons-container {
            display: inline-block;
            width: 30%;
            text-align: right;
            font-weight: 600;

            .delete {
              margin-right: 20px;
              color: #f22a31;
              cursor: pointer;
            }

            .edit {
              color: #49b71d;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.blocking-part {
  .date-range {
    display: inline-block;

    input {
      display: inline-block;
      width: 300px;
      border-color: #d4d4d4;
      border-radius: 5px;
      font-size: 16px;
    }

    .connector {
      display: inline-block;
      text-align: center;
      padding: 0 15px;
    }
  }

  .reason-block {
    display: inline-block;

    input {
      display: inline-block;
      width: 300px;
      box-sizing: border-box;
      padding-left: 10px;
      border: none;
      border-bottom: 1px solid #d4d4d4;
      font-size: 20px;
    }
  }
}

.parking-rules {
  .edit-rule{
    box-sizing: border-box;
    padding-left: 20px;
    border-color: #d4d4d4;
    border-radius: 5px;
    font-size: 18px;
  }

  .btn-block.btn-block {
    margin-top: 0;
  }

  .rule {
    .rule-controls {
      .btn-circle {
        flex-shrink: 0;
      }
      
      .delete {
        height: 35px;
        display: inline-block;
      }

      .edit {
        width: 245px;
        display: inline-block;
      }
    }
  }

  .message {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
}

.photos-part {
  .photos-container {
    width: 100%;
  }

  .photo img {
    width: 200px;
  }
}

.decal-part {
  .bold-title {
    margin-bottom: 20px;
  }

  .decal-list-link {
    cursor: pointer;
  }

  .add-decal {
    span {
      margin-left: 10px;
      vertical-align: bottom;
    }
  }
}

.towing-matrix-part {

  .title {
    display: inline-block;
    vertical-align: top;
    width: 325px;
    padding: 0 15px;
  }

  .form-container {
    width: 680px;
    display: inline-block;
    padding: 0 15px;
  }
  .towing-matrix-form {
    color: #4d4d4d;
    font-weight: 400;
    font-size: 20px;

    .form-control {
      margin-bottom: 12px;
      height: 44px;
      font-size: 18px;
    }

    label {
      font-weight: 400;

      input[type="radio"],
      input[type="checkbox"] {
        margin-right: 5px;
        width: 24px;
        height: 24px;
        background-color: #ffffff;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
      }
    }

    .date {
      display: inline-block;
      margin-left: 10px;
      width: 220px;
    }

    .place {
      margin-bottom: 12px;

      .city {
        margin-right: 150px;
      }
    }

    .roam-container {
      margin-bottom: 12px;

      .roam-title {
        margin-right: 20px;
      }

      .roam-text {
        margin-right: 150px;
      }
    }

    .day {
      margin-bottom: 12px;

      span {
        margin-right: 10px;
      }
    }

    .reasons-container {
      span {
        margin-right: 10px;
      }
    }

    .notes {
      margin-top: 30px;
      min-height: 144px;
      resize:none;
    }

    .button-container {
      width: 100%;
      text-align: center
    }

  }
}