.buttons {
  width: 1098;
  height: 56px;
  margin: 0 auto;
  position: relative;

  a {
    background: #007a62;
    display: block;
    float: left;
    width: 218px;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    text-decoration: none;
    border-right: 2px solid #ffffff;
  }

  a:hover {
    background: #189b81;
  }

  a:last-child {
    border: none;
  }
}