div.buttons
  a(href="#/properties" title="Properties") Properties
  a(href="#" title="BeenTowadPage") Been towad page
  a(href="#" title="ParkingProblemPage") Parking problem page
  a(href="#" title="TrainingMaterials") Training materials
  a(href="#" title="Employees") Employees