header-directive
div.content.main-page
  div.leftButton
    p.borderLeft
    a.button(href="#/properties" title="Need info?") 
      p.title NEED INFO?
      p.subTitle Parking rules & regulation
    a.button(href="#/properties" title="Got towed?") 
      p.title GOT TOWED?
      p.subTitle Rates & Policies
  div.rightButton
    p.borderRight
    a.button(href="#/properties" title="Parking problem?") 
      p.title PARKING PROBLEM?
      p.subTitle We can halpe
    a.button(href="#/properties" title="Complaint?") 
      p.title COMPLAINT?
      p.subTitle We care