div.main-page
  .container
    header-directive(class-name="'adaptive'")
    .content
      .borderLeft
      .borderRight
      .buttons-container
        .leftButton
          a.button(href="#/properties" title="Need info?") 
            p.title NEED INFO?
            p.subTitle Parking rules & regulation
          a.button(href="#/towed_car" title="Got towed?")
            p.title GOT TOWED?
            p.subTitle Rates & Policies & Direction
        .rightButton
          a.button(href="#/" title="Parking problem?") 
            p.title PARKING PROBLEM?
            p.subTitle We can help
          a.button(href="#/complaint" title="Complaint?") 
            p.title COMPLAINT?
            p.subTitle We care
        footer-directive