div.main-page
  header-directive
  .content
    .borderLeft
    .borderRight
    .buttons-container
      .leftButton
        a.button(href="#/properties" title="Need info?") 
          p.title NEED INFO?
          p.subTitle Parking rules & regulation
        a.button(href="#/properties" title="Got towed?") 
          p.title GOT TOWED?
          p.subTitle Rates & Policies & Direction
      .rightButton
        a.button(href="#/properties" title="Parking problem?") 
          p.title PARKING PROBLEM?
          p.subTitle We can halp
        a.button(href="#/properties" title="Complaint?") 
          p.title COMPLAINT?
          p.subTitle We care