div.content
  div.leftButton
    p.borderLeft
    a(href="#/properties" title="Need info?") 
      p.title NEED INFO?
      p.subTitle Parking rules & regulation
    a(href="#/properties" title="Got towed?") 
      p.title GOT TOWED?
      p.subTitle Rates & Policies
  div.rightButton
    p.borderRight
    a(href="#/properties" title="Parking problem?") 
      p.title PARKING PROBLEM?
      p.subTitle We can halpe
    a(href="#/properties" title="Properties") 
      p.title COMPLAINT?
      p.subTitle We care