.properties {
  background-color: #ffffff;
  min-height: 810px;

  .info {
    height: 70px;
    background: #f7f7f7;
    color: #4f4f4f;

    h1 {
      font-size: 22px;
      line-height: 25px;
      font-weight: 600;
      margin: 10px 0 0 0;
    }

    h2 {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400px;
      margin: 0;
    }
  }

  .title {
    color: #1c1b1b;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
  }

  .propertiesContent {
    padding: 0 0 25px 0;
  }

  .letters {
    text-align: left;

    button {
      text-decoration: none;
      background: none;
      border: none;
      padding: 0 2px;
      color: #3191d8;
      font-size: 16px;
      font-weight: 600;
      text-align: left;
      height: 20px;
      outline: none;
    }

    button:last-child {
      margin-left: 20px;
    }

    button:hover {
      color: #7fbbe6;
    }

    button:focus {
      color: #15466a;
      border-bottom: 1px solid #15466a;
    }
  }

  .propertiesList {
    padding: 0;
    min-height: 220px;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 400;
    overflow-y: scroll;
    margin-top: 20px;

    li {
      list-style: none;
      width: 100%;
      display: inline-block;
      line-height: 22px;

      p {
        margin: 0;
      }
    }
  }

  .propertiesList::-webkit-scrollbar {
    width: 20px;
    background-color: #ffffff;
  }

  .propertiesLists::-webkit-scrollbar-button {
    background: #eaeaea;
    width: 20px;
    height: 20px;
  }

  .propertiesList::-webkit-scrollbar-track {
    background-color: #ffffff;
  }

  .propertiesList::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
    width: 18px;
    height: 188px;
    border-radius: 10px;
  }

  .propertiesList::-webkit-scrollbar-thumb:active {
    background-color: #bbbbbb;
  }

  .name {
    float: left;
  }

  .adress {
    float: right;
  }
}
