div.properties(ng-controller="propertiesCtrl as vm")
  div.info
    h1 Need info?
    h2 We can help
  h2.title Chose the first letter of the property to see rules and regulation:
  div.propertiesContent
    div.letters
      a(href="") A
      a(href="") B
      a(href="") C
      a(href="") D
      a(href="") E
      a(href="") F
      a(href="") G
      a(href="") H
      a(href="") I
      a(href="") G
      a(href="") K
      a(href="") L
      a(href="") M
      a(href="") N
      a(href="") O
      a(href="") P
      a(href="") R
      a(href="") S
      a(href="") T
      a(href="") U
      a(href="") V
      a(href="") W
      a(href="") X
      a(href="") Y
      a(href="") Z
    ul.propertiesList
      li(ng-repeat = "property in vm.properties")
        p.name {{ property.name }}
        p.adress {{ property.address }}
      //- li 
      //-   p.name Property2
      //-   p.adress Adress2  
      //- li 
      //-   p.name Property3
      //-   p.adress Adress3
      //- li 
      //-   p.name Property4
      //-   p.adress Adress4
      //- li 
      //-   p.name Property1
      //-   p.adress Adress1
      //- li 
      //-   p.name Property2
      //-   p.adress Adress2  
      //- li 
      //-   p.name Property3
      //-   p.adress Adress3
      //- li 
      //-   p.name Property4
      //-   p.adress Adress4
      //- li 
      //-   p.name Property3
      //-   p.adress Adress3
      //- li 
      //-   p.name Property4
      //-   p.adress Adress4