footer {
  width: 100%;
  padding: 20px 40px 60px 40px;
  color: #ffffff;
  font-size: 18px;
  box-sizing: border-box;

  p:first-child {
    float: left;
  }

  p:last-child {
    float: right;
  }
}