div.menu
  a(href="#/admin/properties" title="Properties") Properties
  a(title="Been towad page") Been towad page
  a(title="Parking problem page") Parking problem page
  a(title="Training materials") Training materials
  a(title="Employees") Employees