div.menu
  a(ng-click="redirect('/admin/properties')" title="Properties") Properties
  a(ng-click="redirect('/admin/got_towed')" title="Been towad page") Been towed page
  a(ng-click="redirect('/admin/parking_problem')" title="Parking problem page") Parking problem page
  a(ng-click="redirect('Training materials')") Training materials
  a(ng-click="redirect('/admin/employees')") Employees