div.menu
  a(href="#/admin/properties" title="Properties") Properties
  a(href="#/admin/got_towed" title="Been towad page") Been towed page
  a(href="#/admin/parking_problem" title="Parking problem page") Parking problem page
  a(title="Training materials") Training materials
  a(href="#/admin/employees" title="Employees") Employees