html(lang='en-US', ng-app='app')
  head
    meta(charset='utf-8')
    title ULTIMATE-towing of Gainesville
    link(rel='stylesheet', href='app.css')
  body(ng-controller="mainCtrl as vm")
    header
      img(src='files/logo-280.png', width='270', height='105', alt='ULTIMATE-towing of Gainesville')
    .title Ultimate Towing
    .name of Gainesville, INC.
    .phone 844-CAR-TOWED
    .massege-info We are working on our website