html(lang='en-US', ng-app='app')
  head
    meta(charset='utf-8')
    title ULTIMATE-towing of Gainesville
    link(rel='stylesheet', href='app.css')
  body(ng-controller="mainCtrl as vm")
    .container
      include header/header.jade
      div(ng-view)
    script(src="libs.js")
    script(src="app.js")