html(lang='en-US', ng-app='app')
  head
    meta(charset='utf-8')
    title ULTIMATE-towing of Gainesville
    link(rel='stylesheet', href='app.css')
  body(ng-controller="mainCtrl as vm")
    .container
      header-directive
      div(ng-view)
      footer
        p @ 2016 All rights reserved
        p Design by Juless Design
    script(src="libs.js")
    script(src="app.js")