html(lang='en-US', ng-app='app')
  head
    meta(charset='utf-8')
    title ULTIMATE-towing of Gainesville
    link(rel='stylesheet', href='app.css')
  body(ng-controller="mainCtrl as vm")
    .container
      header
        div.logo
        div.contacts
          div.phone
            img(src="phone-icon.png")
            p 844-CAR-TOWED /
          div.location
            img(src="location-icon.png")
            p 907 SW 3rd St. Gainesville,FL
        div.navigation
          a(href="#" title="Home") Home
          a(href="#" titke="Login") Login
      div(ng-view)
    script(src="libs.js")
    script(src="app.js")