* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 1016px;
  height: 81px;
  padding: 41px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}

.logo {
  width: 186px;
  height: 75px;
  background-image: url(logo-280.png);
  background-size: cover;
  float: left;
}

.contacts {
  color:  #f22930;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  float: left;
  margin: 26px 0 0 66px;
}

.contacts img {
  margin-right: 5px;
  float: left;
}

.phone, .location {
  float: left;
}

.contacts p {
  display: inline-block;
}

.phone {
  margin-right: 20px;
}

.navigation {
  float: right;
  color:  #3191d8;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}

.navigation a {
  text-decoration: none;
  margin-left: 20px;
}

.navigation a:active {
  color: #298ED5;
}

.navigation a:visited {
  color: #081C2A;
}

.navigation a:hover {
  color: #7fbbe6;
}
