body {
  font-family: 'Arial';
  text-align: center;
}

header {
  height: 150px;
  margin-top: 50px
}

.title {
  color: #585858;
  font-size: 22pt;
  margin: 5px;
}

.name {
  color: #585858;
  font-size: 22pt;
}

.phone {
  color: #D91C48;
  font-size: 20pt;
  font-weight: bold;
  margin: 50px;
}

.massege-info {
  color: #585858;
  font-size: 13pt;
}