.admin-employees {
  background-color: #f7f7f7;
  min-height: 100%;

  .content {
    background-color: #ffffff;
    min-height: 100%;
    padding-bottom: 20px;
  }

  .employees-header {
    width: 100%;
    .title-container {
      display: inline-block;
      width: 50%;
      text-align: left;
      .title {
        text-align: left;
        margin: 50px 0 0 70px;
      }
    }

    .addDriver-container {
      width: 50%;
      display: inline-block;
      text-align: right;
      .addDriver {
        text-align: center;
        display: inline-block;
        text-decoration: none;
        width: 279px;
        height: 52px;
        margin: 0 70px 0 0;
        padding: 13px 0 0 0;

        img {
          margin-right: 15px;
        }

        span {
          vertical-align: middle;
        }
      }
    }
  }

  .employees-content {
    margin-top: 40px;
    width: 100%;
    padding: 0 70px;
    .name {
      display: inline-block;
      width: 35%;
    }
    .email {
      display: inline-block;
      width: 35%;
    }
    .title {
      font-size: 18px;
      font-weight: 600;
    }
    .user {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 400;
      .buttons {
        width: 30%;
        display: inline-block;
        text-align: right;
      }
      .edit, .block {
        display: inline-block;
        width: 110px;
        height: 52px;
      }

      .edit {
        margin-right: 10px;
        padding-top: 13px;
      }
    }
  }

  .employeesEditor {
    padding-top: 20px;
    text-align: center;

    h2 {
      font-size: 26px;
      font-weight: 400;
      color: #4d4d4d;
      margin-bottom: 35px;
    }

    .driverContent {
      width: 60%;
      display: inline-block;
      vertical-align: top;
      padding: 0 35px;

      input {
        width: 100%;
        height: 46px;
        border: 1px solid #a9a9a9;
        font-size: 18px;
        font-weight: 400;
        padding-left: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      input:focus {
        outline: 0;
      }

      .add {
        width: 240px;
        height: 52px;
      }
    }
  }
}