<ion-view view-title="Decal">
  <ion-header-bar align-title="center" class="bar-custom">
    <div class="buttons">
      <button
        class="button button-icon icon ion-chevron-left btn-back"
        ng-click="vm.goBack()"></button>
    </div>
    <h1 class="title" ng-bind="vm.title"></h1>
    <div class="buttons">
      <button class="button button-clear btn-header-text" ng-click="vm.openCamera()">Skip</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header bg-color padding-23">

    <p class="p-text text-left">Enter Decal serial #:</p>

    <div class="item-input-inset search">
      <label class="item-input-wrapper">
        <input type="search" placeholder="Decal serial #" ng-model="serialNumber">
      </label>
      <button class="button button-positive btn-search" ng-click="vm.getDecalBySerialNumber(serialNumber)">
        GO
      </button>
    </div>

    <div class="empty-data" ng-if="vm.notFoundDecalError.length">{{vm.notFoundDecalError}}</div>


    <div class="decal-wrap" ng-if="vm.decal">
      <p class="p-text text-left">Check information about Decal:</p>
      <p class="decal-item">Color of decal: <span ng-bind="vm.decal.decalColor"></span></p>
      <p class="decal-item">Parking space #: <span ng-bind="vm.decal.assignedParkingSpace"></span></p>
      <p class="decal-item">Mark: <span ng-bind="vm.decal.mark"></span></p>
      <p class="decal-item">Color: <span ng-bind="vm.decal.color"></span></p>
      <p class="decal-item">Year: <span ng-bind="vm.decal.year"></span></p>
    </div>

  </ion-content>
</ion-view>
